body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px)
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #585858;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.3);
  }
  
  .search-bar {
    text-align: center;
  }
  
  .search-bar input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline:none;
    background-color:#292929;
    color:white;
    font-size:bigger;
  }

  #body-elements {
    background-color: #444444;
    border-radius: 10px;
    padding: 5px;
    padding-top:3px;
    margin-top:15px;
    max-height:300px;
    overflow:scroll;
  }

  
  #body-elements::-webkit-scrollbar {
  width: 5px; 
}

#body-elements::-webkit-scrollbar-track {
  background-color: transparent; 
}

#body-elements::-webkit-scrollbar-thumb {
  background-color: #2c2c2c; 
  border-radius: 5px; 
}

  .module {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 12px;
    margin-top:2px;
    color:white;
    transition: all .2s
  }

  .module:hover {
    background-color: #181818;
  }

  .clicked {
    background-color: #0f0f0f;
  }